<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="iParking.ConfigurationManager.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <iParking.ConfigurationManager.Properties.Settings>
            <setting name="prefer_width" serializeAs="String">
                <value>816</value>
            </setting>
            <setting name="prefer_height" serializeAs="String">
                <value>489</value>
            </setting>
        </iParking.ConfigurationManager.Properties.Settings>
    </userSettings>
</configuration>