<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MotionDetection.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <MotionDetection.Properties.Settings>
            <setting name="ip" serializeAs="String">
                <value />
            </setting>
            <setting name="username" serializeAs="String">
                <value />
            </setting>
            <setting name="password" serializeAs="String">
                <value />
            </setting>
            <setting name="type" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="alarmLevel" serializeAs="String">
                <value>200</value>
            </setting>
            <setting name="resolution" serializeAs="String">
                <value>1920x1080</value>
            </setting>
            <setting name="rect" serializeAs="String">
                <value />
            </setting>
        </MotionDetection.Properties.Settings>
    </userSettings>
</configuration>